@inherits LayoutComponentBase
@using SummerPractice2026Blazor.Components.Layout
@using Radzen.Blazor

<div class="home-layout">
	<HomeHeader @rendermode="InteractiveServer" />

	<main class="home-main">
		@Body
	</main>
</div>

<RadzenComponents @rendermode="InteractiveServer" />