@inherits LayoutComponentBase

<div class="home-layout">
	<header class="home-header">
		<nav class="home-nav">
			<a href="/" class="home-brand">Article management</a>
			<div class="home-nav-links">
				<AuthorizeView>
					<Authorized>
						<a href="/">Back</a>
					</Authorized>
					<NotAuthorized>
						<a href="Account/Login"></a>
						<a href="Account/Register"></a>
					</NotAuthorized>
				</AuthorizeView>
			</div>
		</nav>
	</header>

	<main class="home-main">
		@Body
	</main>
</div>